<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger level="TRACE" name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <!--        <appender-ref ref="CONSOLE" />-->
        <!--        <appender-ref ref="FILE" />-->
    </root>
</configuration>